
{% extends "base.html" %}

{% block title %} edicion {% endblock%}


{%block content %}
    <div class="container py-4">
        <div class="row">
            <h2>edicicion de la venta</h2>
            <div class="card">
                <div class="card-body">
                    <form action="/" method="POST"> {% csrf_token %}
                        <div class = "navbar-nav">
                            <input type="text" name="idventa"  class="form-control"  value="{{venta.id_venta}}" readonly required>
                            <input type="text" name="cliente" class="form-control" placeholder="Nombre" value={{venta.cliente.nombre}}>
                            <input type="text" name ="empleado" class="form-control" placeholder="empleado" value={{venta.empleado.nombre}}>
                            <input type="text" name ="modopago" class="form-control" placeholder="modo de pago" value={{venta.modopago.tipo}}>
                            <input type="date" name = "fechacompra" class="form-control" value="{{venta.fechacompra}" >
                            <input type="number" name="placa" class="form-control" value="{{venta.tramplaca}}">
                             <input type="phone" name ="plazospago" class="form-control" placeholder="telefono" value={{cliente.telefono}}>
                        </div>
                        <div class="form-group">
                            <button type="sumbit" class = "btn btn-success btn-lg btn-block text-white"  >Guardar </button>
                        </div> 
                    </form>

                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}