
{% extends "base.html" %}

{% block title %} Autos {% endblock%}

{% block content %} 
    <div class ="container py-4">
        <div class="row">

            
            <div class = "col-md-4">
                <h2>Agregar auto</h2>
                <div class ="card"> 
                    <div class="card-body ">

                        <form action="">
                            <div class="form-group">
                                <input type="text" name = "version" class="form-control" placeholder="version">
                            </div>
                            <div class="form-group">
                                <input type="text" name = "anio" class="form-control" placeholder="Año" >
                            </div>
                            <div class="form-group">
                                <input type="number" name = "costo" class="form-control" placeholder="Costo" min="0" max="">
                            </div>
                            <div class="form-group">
                                <input type="number" name = "Potencia" class="form-control" placeholder="Potencia" min="0" max="">
                            </div>
                            <div class="form-group">
                                <button type="sumbit" class = "btn btn-success btn-lg btn-block text-white"  >Guardar </button>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
            


            <div class="col-md-8">
                <h2>Autos</h2>
                <div class="card">
                    <div class = "table-responsive">
                        <table class = "table table-striped">
                            <thead>
                                <tr>
                                    <th>Modelo</th>
                                    <th>Año</th>
                                    <th>Version</th>
                                    <th>presio</th>
                                </tr>   
                            </thead>
                            <tbody>
                                {% for auto in object_list%}
                                <tr>
                                    <td>{{auto.version_carro}}</td>
                                    <td>{{auto.anio}}</td>
                                    <td>{{auto.modelo.nombre}}</td>
                                    <td>{{auto.costo}} $$</td>
                                    <td><a href="edit/auto/{{auto.id_especif_carro}}" class="btn btn-sm btn-block btn-primary">Editar</a></td>
                                    <td><a href="eliminar/{{auto.id_especif_carro}}" class="btn btn-sm btn-block btn-danger" >Eliminar</a></td>
                                </tr>
                                {% endfor%}
                            </tbody>
                        </table>
                        
                    </div>
                </div>
              
            </div>
        </div>
    </div>

{% endblock %}