
{% extends "base.html" %}

{% block title %} Ventas {% endblock%}


{% block content %} 
    <div class ="container py-4">
        <div class="row">

            
            <div class = "col-md-3">
                <h2>Agregar nueva venta</h2>
                <div class ="card"> 
                    <div class="card-body ">

                        <form action="">
                            <div class="form-group">
                                <input type="text" name = "txtNombre" class="form-control" placeholder="Nombre">
                            </div>
                            <div class="form-group">
                                <input type="date" name = "txtfechacompra" class="form-control" placeholder="Fecha" >
                            </div>
                            <div class="form-group">
                                <input type="number" name = "numplazospagar" class="form-control" min= "1" max="24" placeholder="plazos a de pago (meses)" >
                            </div>



                            <div class="form-group">
                                <input type="sumbit" class = "btn btn-success btn-lg btn-block text-white" value="Guardar">
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
            


            <div class="col-md-8">
                <h2>listado de ventas</h2>
                <div class="card">
                    <div class = "table-responsive">
                        <table class = "table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Fecha</th>
                                    <th>Placa</th>
                                    <th>Cliente</th>
                                    <th>Vendedor</th>
                                </tr>   
                            </thead>
                            <tbody>
                                {% for venta in object_list%}
                                <tr>
                                    <td>{{venta.id_venta}}</td>
                                    <td>{{venta.fechacompra}}</td>
                                    <td>{{venta.tramplaca}}</td>
                                    <td>{{venta.cliente.nombre}}</td>
                                    <td>{{venta.empleado.nombre}}</td>
                                    <td><a href="edit/{{venta.id_venta}}" class="btn btn-sm btn-block btn-primary">Editar</a></td>
                                    <td><a href="eliminacionventa/{{venta.id_venta}}" class="btn btn-sm btn-block btn-danger" >Eliminar</a></td>
                                </tr>
                                {% endfor%}
                            </tbody>
                        </table>
                        
                    </div>
                </div>
              
            </div>
        </div>
    </div>

{% endblock %}