
{% extends "base.html" %}

{% block title %} clientes {% endblock%}

{% block content %} 
    <div class ="container py-4">
        <div class="row">

            
            <div class = "col-md-3">
                <h2>Agregar nuevo cliente</h2>
                <div class ="card"> 
                    <div class="card-body ">

                        <form action="/create/"method="POST"> {% csrf_token %}
                           
                            <div class="form-group">
                                
                                <input type="text" id ="txtnombrecliente" name="txtnombrecliente" class="form-control" placeholder="Nombre" >
                                <input type="text" name ="txtapellidopcliente" class="form-control" placeholder="apellido paterno" >
                                <input type="text" name ="txtapellidomcliente" class="form-control" placeholder="apellido materno" >
                                <input type="date" name = "fnacimiento" class="form-control"  >
                                <input type="email" name="email" class="form-control"  placeholder  ="correo">
                                <input type="phone" name ="phonecliente" class="form-control" placeholder="telefono" >

                                
                                <input type="number" name="numdireccion" id="numdireccion" class="form-control" placeholder="Direccion" min =0>
                            </div>



                            <div class="form-group">
                                <button type="sumbit" class = "btn btn-success btn-lg btn-block text-white"  >Guardar </button>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
            


            <div class="col-md-9">
                <h2>Clientes</h2>
                <div class="card">
                    <div class = "table-responsive">
                        <table class = "table table-striped">
                            <thead>
                                <tr>
                                    <th>nombre</th>
                                    <th>Fecha de nacimiento </th>
                        
                                    <th>Correo</th>
                                    <th>Numero</th>
                                </tr>   
                            </thead>
                            <tbody>
                                {% for c in object_list%}
                                <tr>
                                    <td>{{c.nombre}} {{c.ap_paterno}} {{c.ap_materno}}</td>
                                    <td>{{c.fechanacimiento}}</td>
                    
                                    <td>{{c.correo}}</td>
                                    <td>{{c.telefono}}</td>
                                    <td><a href="clientes/edit/{{c.id_cliente}}" class="btn btn-sm btn-block btn-primary">Editar</a></td>
                                    <td><a href="clientes/eliminacioncliente/{{c.id_cliente}}" class="btn btn-sm btn-block btn-danger" >Eliminar</a></td>
                                </tr>
                                {% endfor%}
                            </tbody>
                        </table>
                        
                    </div>
                </div>
              
            </div>
        </div>
    </div>

{% endblock %}